.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  font-size: 18px;
  color: #424242;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  margin-top: -20px;
}
.menu__list-item {
  padding-left: 50px;
}
.menu__list-link {
  text-decoration: none;
  position: relative;
  color: #424242;
}
.menu__list-link::after { 
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  
  height: 1px;
  width: 0;
  background: #D8B152;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu__list-link:hover::after { 
  width: 100%; 
  left: 0; 
}
.menu__list-link:active::after { 
  width: 100%; 
  left: 0; 
}