button{
  width: 260px;
  height: 60px;
  background-color: #D8B152;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 72px;
  margin-bottom: 20px; 
}
.h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  font-family: 'Open Sans';
}

.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  font-size: 18px;
  color: #424242;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}
.h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 140%;
}
.h2{
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  margin-top: -50px;
}
.menu__list-item {
  padding-left: 50px;
}
.menu__list-link {
  text-decoration: none;
  position: relative;
  color: #424242;
}
.int{
  color: #ffffff;
}
.menu__list-link::after { 
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  
  height: 1px;
  width: 0;
  background: #D8B152;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu__list-link:hover::after { 
  width: 100%; 
  left: 0; 
}
.menu__list-link:active::after { 
  width: 100%; 
  left: 0; 
}
.top {
  margin-bottom: 583px;
}
.top__info {
  display: flex;
  align-items: center;
  
}
.top__info-title {
  width: 860px;
  height: 156px;
  font-weight: 600;
  font-size: 56px;
  line-height: 78px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.top__info-block_btn {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 260px;
  margin-left: 44px;  
}
.top__info-text {
  text-align: center;
  height: 50px;
  margin-bottom: 20px;
}

.slider {
  max-width: 1400px;
  max-height: 800px;
  margin: 0 auto;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0;
  z-index: -1;
}

.slider .slick-dots  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  z-index: 0;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 20px;
}
.slider .slick-dots button{
  font-size: 0;
  width: 20px;
  height: 20px;
  border: 1px #fff solid;
  border-radius: 50%;
  background: transparent;
}
.slider .slick-dots li.slick-active button{
  background-color: #fff;
}

.servises__descriction {
  height: 63px;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  font-family: 'Open Sans';
  margin-bottom: 60px;
}


.servises__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  cursor: pointer;
  
}
.servises__items-block {
  position: relative;
  opacity: .7;

}


.servises__items-block:hover{
  opacity: 1;

}
.servises__items-block:hover .servises__items-block_info-dscr {
  opacity: 1;
}
.servises__items-block:hover .servises__items-block_info-btn {
  opacity: 1;
}
.servises__items-block:hover .servises__items-block_info-dscr1 {
  opacity: 0;
}



.servises__items-block_info-dscr1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 1;
}


.servises__items-block_info-dscr {
  position: absolute;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 0;
}
.servises__items-block_info-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -60px;
  left: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 0;
}
.servises__items-block_descripton {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  
}