button{
  width: 260px;
  height: 60px;
  background-color: #D8B152;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 72px;
  margin-bottom: 20px; 
}
.h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  font-family: 'Open Sans';
}

.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  font-size: 18px;
  color: #424242;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}
h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 140%;
}
h2{
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
}
h3 {
  line-height: 39.3px;
  font-size: 28px;
}
h5 {
  font-family: 'Open Sans';
  text-align: center;
  font-size: 28px;
  line-height: 42px;
  font-style: italic;
  color: #ffffff;
  font-weight: 600;
}
.header {
  margin-bottom: 5px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  margin-top: -50px;
}
.menu__list-item {
  padding-left: 50px;
}
.menu__list-link {
  text-decoration: none;
  position: relative;
  color: #424242;
}
.int{
  color: #ffffff;
}
.menu__list-link::after { 
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  
  height: 1px;
  width: 0;
  background: #D8B152;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu__list-link:hover::after { 
  width: 100%; 
  left: 0; 
}
.menu__list-link::after:active { 
  width: 100%; 
  left: 0; 
}
.top {
  margin-bottom: 583px;
}
.top__info {
  display: flex;
  align-items: center;
  
}
.top__info-title {
  width: 860px;
  height: 156px;
  font-weight: 600;
  font-size: 56px;
  line-height: 78px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.top__info-block_btn {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 260px;
  margin-left: 44px;  
}
.top__info-text {
  text-align: center;
  height: 50px;
  margin-bottom: 20px;
}

.slider {
  max-width: 1400px;
  max-height: 800px;
  margin: 0 auto;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0;
  z-index: -1;
}

.slider .slick-dots  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  z-index: 0;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 20px;
}
.slider .slick-dots button{
  font-size: 0;
  width: 20px;
  height: 20px;
  border: 1px #fff solid;
  border-radius: 50%;
  background: transparent;
}
.slider .slick-dots li.slick-active button{
  background-color: #fff;
}


.servises {
  margin-bottom: 120px;
}

.h2__description {
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  font-family: 'Open Sans';
  margin-bottom: 60px;
  width: 860px;
  width: 100%;
}


.servises__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.servises__items-block {
  position: relative;  
}

.block-3 {
  padding-bottom: 10px;
}
.servises__items-block:hover{
  opacity: 1;

}
.servises__items-block:hover .servises__items-block_info-dscr {
  opacity: 1;
}
.servises__items-block:hover .servises__items-block_info-btn {
  opacity: 1;
}
.servises__items-block:hover .servises__items-block_info-dscr1 {
  opacity: 0;
}



.servises__items-block_info-dscr1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 14px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 1;
  color: #fff;
  background-color: rgba(80, 61, 43, .7);
}
.intm {
  margin-bottom: 5px;
}
.servises__items-block_info-dscr {
  position: absolute;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 0;
}
.servises__items-block_info-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -60px;
  left: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 0;
}
.servises__items-block_descripton {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
}
.insta__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-bottom: 50px;
}
.insta__item-img:hover {
  transform: scale(1.3, 1.3);
  transition: all 1s;
}

.insta__button {
  margin-bottom: 140px;
}
.insta__button-btn {
  display: block;
  margin: 0 auto;
}
.footer {
  background-color: #202020;
}
.footer__item {
  margin-top: 140px;
}

.footer__item-inner {
  display: flex;
  padding-top: 140px;
  justify-content: space-between;
  position: relative;
}
.footer__item-inner::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D8B152;
  margin-bottom: -50px; 
}
.footer__inner-logo {
  margin-top: -15px;
}

.footer__inner-info {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.footer__inner-heder {
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
}
.footer__inner-link {
  text-decoration: none;
  color: #fff;
  
}

.footer__inner-contacts_item {
  display: flex;
  text-align: center;
}

.contact-icon {
  margin-right: 10px;
}

.footer__inner-social_block {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  position: relative;
}

.footer__inner-cocial_item {
  border: 1px solid #D8B152;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}


.footer__inner-cocial_img-block {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.footer__inner-cocial_img-block:hover {
  background-color: #D8B152;
}
.footer__inner-cocial_img:hover {
  filter: brightness(50);
}
.footer__item-underground {
  margin-top: 100px;
  padding-bottom: 50px;
}
.footer__item-underground_inner {
  display: flex;
  justify-content: space-between;
}
.footer__item-underground_link {
font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
text-decoration: none;
}
.linar {
  text-decoration-line: underline;
}

.slider-feedback {
  margin-bottom: 149px;
}
.slider-feedback ul{
  margin-left: -230px;
}

.bx-wrapper {
  position: relative;
} 

.bx-controls {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.bx-controls-direction {
  display: flex;
  justify-content: space-around;
}
.bx-prev {
  background:  url(../img/arrow_color_left.png) 0 0 no-repeat;
  margin-left: 75px;
  width: 40px;
  height: 40px;
  text-indent: -600px;
}
.bx-prev:hover {
  background: url(../img/arrow_white_left.png);
}
.bx-next {
  background:  url(../img/arrow_color_right.png) 0 0 no-repeat;
  margin-right: 70px;
  width: 40px;
  height: 40px;
  text-indent: -2000px;
}
.bx-next:hover {
  background: url(../img/arrow_white_right.png);
}
.feedback-desc {
  font-size: 18px;
  margin-bottom: 60px;
}
.fb {
  margin-bottom: 20px;
}
.feedback-form__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 140px;
}
.feedback-form__inputs {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-right: 40px;
}
.feedback-form__area-input {
  margin-bottom: 20px;
  border: #D8B152 1px solid;
  font-family: 'Open Sans';
  font-size: 18px;
  padding: 18px 30px 17px; 
}
.feedback__btn {
  width: 360px;
  height: 60px;
}
.feedback-form__area {
  border: #D8B152 1px solid;
  width: 760px;
}
.feedback-form__area-textarea {
  resize: none;
  border: none;
  font-family: 'Open Sans';
  font-size: 18px;
  padding: 18px 30px 17px; 
  width: 90%;
  height: 83%;
}
.awards__block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.awards__item {
  display: flex;
}
.awards__inner::after {
  content: "";
  background-color: #D8B152;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
}
.awards__item-img {
  margin-right: 40px;
  display: flex;
}
.awards__item-blockinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.awards__item-blockinfo-h3 {
  margin-bottom: 20px;
}
.awards__item-blockinfo-btn {
  padding: 0 0;
}
.publicaton__block {
  display: flex;
  flex-wrap: wrap;
}
.publication__item {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: #D8B152 1px solid;
}
.bl {
  border-left: #D8B152 1px solid;
}
.publication__item-block {
  margin-left: 40px;
}
.publication__item-h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.publication__item-descr {
  margin-bottom: 30px;
}
.publication__item-btn {
  margin-bottom: 50px;
}
.project {
  margin-bottom: 60px;
}
.timeline {
  margin-bottom: 50px;
}
.timeline__item {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  justify-content: center;
}
.timeline__inner {
  text-align: center;
  border-top: #AEA38B 1px solid;
  position: relative;
}
.timeline__inner-img {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  right: 0;
}
.timeline__inner-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}
.timeline__inner-content {
  margin-right: 40px;
  margin-bottom: 61px;
}
.bb {
  border-bottom: #AEA38B 1px solid;
}
.nb {
  border-top: none;
}
.brad {
  border:#AEA38B 1px solid;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  border-left: none;
}
.baners {
  margin-top: -11px;
  margin-bottom: 70px;
}
.baners__item {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  justify-content: space-between;
  grid-template-rows: 100px;
}
.baners__inner {
  text-align: center;
  background-color: #AEA38B;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 23px 20px;
  justify-content: center;
}
.introduction {
  margin-bottom: 139px;
}
.introduction__item {
  display: flex;
  justify-content: space-between;
}
.introduction__inner {
  margin-right: 40px;
}
.introduction__inner-text {
  width: 560px;
}
.introduction__inner-text ul {
  List-style-type: none;
}
.introduction__inner-text li {
  margin-bottom: 20px;
}
.hall {
  margin-bottom: 51px;
}
.hall__item  {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hall__inner {
  margin-right: 40px;
}
.hl {
  margin-bottom: 50px;
}
.hall__inner-text {
  font-size: 18px;
  line-height: 27px; 
}
.hl2 {
  margin-right: 0;
}
.arborist-p {
  margin-bottom: 10px;
}
.project__img1 {
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
}

.liveroom__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.liveroom__inner1 {
  margin-right: 40px;
}
.liveroom__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}
.liveroom__inner ul {
  List-style-type: none;
  line-height: 27px;
}
.quote {
  background-color: #AEA38B;
  padding: 130px 220px 144px;
  text-align: center;
}
.story {
  margin-top: 50px;
}
.story__item {
  display: flex;
  margin-bottom: 118px;
}
.story__inner {
  margin-right: 31px;
}
.story__item-img2 {
  display: flex;
}
.story__inner.st2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.st2 {
  margin-right: 49px;
}
.story__item-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story__item-text ul {
  List-style-type: none;
  line-height: 27px;
}

.story__item-ul li {
  margin-bottom: 10px;
}
.last_li {
  margin-bottom: 0;
}
.story__inner.hl2 {
  margin-right: 0;
}
.kitchen {
  display: flex;
  margin-bottom: 50px;
}
.kit {
  margin-bottom: 40px;
}
.kitchen__item1 {
  margin-right: 40px;
}
.kitchen__item-text ul {
  list-style: none;
}
.kitchen__item-text li {
  margin-bottom: 10px;
  line-height: 27px;
}
.kitchen__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eatery {
  margin-top: 50px;
  
}
.eatery__item{
  display: flex;
  margin-bottom: 120px;
}
.eatery__inner1 {
  margin-right: 40px;
}
.eatery__inner {
  display: flex;
  align-items: center;
}
.eatery-block {
  margin-bottom: 140px;
}
.eatery-block__item {
  display: flex;
}
.eatery-block__inner1 {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.eatery-block__item-text {
  width: 762px;
  margin-bottom: 50px;
}
.eatery-block__item-img {
  display: flex;
  justify-content: space-between;
}
.eatery-block__inner {
  display: flex;
  align-items: flex-end;
}
.bedroom-img {
  text-align: center;
  margin-bottom: 139px;
}

.bedroom__item {
  display: flex;
  margin-bottom: 140px;
}
.bedroom__item__inner1 {
  margin-right: 42px;
  display: flex;
  align-items: flex-end;
}
.bedroom__item__inner {
  display: flex;
  flex-direction: column;
}
.bedroom__item__inner-text {
  margin-bottom: 50px;
  width: 762px;
}
.bedroom__item__inner-img {
  display: flex;
  justify-content: space-between;
}
.bathroom {
  margin-bottom: 120px;
}
.bathroom__item {
  display: flex;
  justify-content: space-between;
}
.bathroom__inner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 460px;
}
.guest {
  margin-bottom: 90px;
}
.guest__item {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.guest__item-img {
  margin-bottom: 50px;
}
.toilets {
  margin-bottom: 140px;
}
.toilets__item {
  display: flex;
  justify-content: space-between;
}
.toilets__inner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toilets__inner-info_txt {
  width: 560px;
}
.toilets__inner-info_txt ul {
  list-style: none;
}
.toilets__inner-info_txt li {
  margin-bottom: 10px;
}
.want {
  padding: 130px 204px 134px;
}
.result {
  margin-top: 50px;
}
.result__item {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.result__inner-txt {
  width: 760px;
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result__inner-txt ul {
  list-style: none;
}
.result__inner-txt li {
  margin-bottom: 10px;
}
.result__inner-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result__img {
  margin-bottom: 45px;
}
.result__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.result__gallery img {
  margin-bottom: 50px;
}
.servicelist {
  margin-bottom: 140px;
}
.servicelist__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.servicelist__inner {
  width: 260px;
  margin-bottom: 40px;
}
.servicelist__inner-nuber {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.servicelist__inner-num {
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 400;
  color: #D8B152;
}
.servicelist__inner-mb {
  width: 100%;
  border-bottom: #D8B152 1px solid;
}
