.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  font-size: 18px;
  color: #424242;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
